# Database configuration

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=novapay
POSTGRES_PASSWORD=shourov123
POSTGRES_DB=novapay_db

ENCRYPTION_KEY=0123456789abcdef0123456789abcdef

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379